<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>530312877495-7i573llqaa4jju843j18ablnuecgrhie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530312877495-7i573llqaa4jju843j18ablnuecgrhie</string>
	<key>API_KEY</key>
	<string>AIzaSyBHkBKHAFSyrf_qsW5byiQaX7m6QgTB2q8</string>
	<key>GCM_SENDER_ID</key>
	<string>530312877495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MakeSchool.UBookIt</string>
	<key>PROJECT_ID</key>
	<string>ubookit-e41bc</string>
	<key>STORAGE_BUCKET</key>
	<string>ubookit-e41bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:530312877495:ios:ed81f33ca2a0215f</string>
	<key>DATABASE_URL</key>
	<string>https://ubookit-e41bc.firebaseio.com</string>
</dict>
</plist>